body {
  margin: 0;
  padding: 0;
  background-color: #70C5CE;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game-container {
  position: relative;
  width: 400px;
  height: 600px;
  margin: 0 auto;
  background-color: #87CEEB;
  overflow: hidden;
}

svg {
  display: block;
  margin: auto;
  background: #70C5CE;
} 